{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react",
    "react-app"
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["react",  "jsx-a11y", "prettier"],
  "rules": {
    // "react/jsx-filename-extension": [
    //   0,
    //   {
    //     "extensions": [".js", ".jsx"]
    //   }
    // ],
    "prettier/prettier": "warn",
    "no-console": "warn",
    "no-eval": "warn",
    "no-unused-vars":"warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
